mixin postInfo(item, options)
  .post-meta
    .post-tools
        if (theme.disqus || (options && options.showSharingInfo))
          ul.sharing-list.clearfix
            if theme.disqus
              li.sharing-list-item
                a(href=config.url + url_for(item.path) + '#disqus_thread') Loading comments...
            if options && options.showSharingInfo
              li.sharing-list-item
                a(href='javascript:void(0)', title='Share on Facebook', class='ssk ssk-facebook ssk-xs')
              li.sharing-list-item
                a(href='javascript:void(0)', title='Tweet', class='ssk ssk-twitter ssk-xs')
    .post-time
      != full_date(item.date, 'll')

mixin posts()
  ul.home.post-list
    - page.posts.each(function(item, index) {
      li.post-list-item
        article.post-block
          h2.post-title
            a.post-title-link(href=url_for(item.path))
              != item.title
          +postInfo(item)
          .post-content
            != item.excerpt
          a.read-more(href=url_for(item.path)) Read More...
    - })

mixin post(item, options)
  .post
    article.post-block
      h1.post-title
        != item.title
      if item.pageType != 'page'
        +postInfo(item, options)
      .post-content
        != item.content
      - var tagCount = page.tags && page.tags.length || 0
      if tagCount > 0
        aside.post-extras
          div.tag-list
            label Tags: 
            - page.tags.each(function(tag, tagIdx) {
              a(href=url_for(tag.path), class='tag-list-item') #{tag.name}
              if tagIdx < tagCount - 1
                != ', '
            - })
